.bg {
    @each $name, $color in $backgrounds {
        &-#{$name} {
            background-color: $color;
        }
    }

    &-gradient {
        color: $white;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: .9;
            z-index: -1;
            background: linear-gradient(to right, $blue, $green);

            @include media-breakpoint-down(sm) {
                background: linear-gradient($blue, $green);
            }
        }
    }

    &-banner {
        z-index: 0;
        @include set-image;          
    }


}