@each $language, $font-family in $languages {
    html[lang='#{$language}'] {
        @include set-font-type ($language, $font-family);
    }

    body {
        font-size: px-to-rem(14);
        line-height: 2;

        html[lang="th"] & {
            font-size: px-to-rem(16);
        }
    }
}

.font-weight-medium {
    font-weight: 500 !important;

    html[lang="th"] & {
        font-weight: 700 !important;
    }
}
