.btn {
    $grandparent: &;

    &#{$grandparent} {
        &-primary {
            @include set-font-family;
            @include after-arrow(lg);
            background-color: transparent;
            padding: 0;
            border: none;
            color: $green;
            transition: all .5s ease;
            font-size: px-to-rem(14);
            display: inline-flex;

            html[lang="th"] & {
                font-size: px-to-rem(22);
                font-weight: 700;
                align-items: center;
            }

            &:focus, &:focus:active {
                box-shadow: none !important;
            }

            &:active, &:not(.disabled):active {
                color: $funblue;
                background-color: transparent !important;
                border: none !important;
            }

            &:hover {
                color: $funblue;
                &:after, &:before {
                    background-color: $funblue;
                }
            }
        }

        &-outline-primary {
            @include set-font-family;
            font-size: 14px;
            background-color: transparent;
            padding: 10px 30px;
            border: solid 1px $darkgray;
            color: $black !important;
            transition: all .3s ease;
            border-radius: 0;
            &:focus, &:active {
                box-shadow: none;
                background-color: initial;
            }
            &:not(:disabled):not(.disabled) {
                &:focus, &:active {
                    box-shadow: none;
                    background-color: initial;
                    color: $black;
                    border: solid 1px $gray;
                }
            }
            &:hover {
                color: $blue !important;
                border: solid 1px $blue;
            }

            html[lang="th"] & {
                font-size: 1.375rem;
                font-weight: 700;
                line-height: 1;
            }
        }

        &--back {
            &:after {
                content: none;
            }
            @include after-arrow(lg, before);
        }
    }
}
