iframe {
    border: 0;
    width: 100%;
}
.box-iframe {
    > iframe {
        width: 100%;
        &.email-alerts {
            height: 780px;
            @include media-breakpoint-down(sm) {
                height: 1050px;
            }
        }
        &.interactive-chart {
            height: 700px;
        }
        &.calculator {
            height: 850px;
        
            @include media-breakpoint-down(sm) {
                height: 1300px;
            }
            
        }
        &.download {
            height: 790px;
            @include media-breakpoint-down(sm) {
                height: 1650px;
            }
            
        }
        &.interactive-chart-home{
            margin-top: -15px;
        }
    }
  }
