.table {
    border-bottom: solid 2px $blue;

    tr {
        td, th {
            border-top: 0 !important;
            line-height: 2em;
            padding-right: 20px;
        }

        th {
            background: $blue;
            color: $white;
            text-align: center;
        }

        &.row-highlight {
            td {
                border-bottom: solid 1px $lightblue;
                line-height: 2em;
                color: $green;
                font-weight: 700;
            }
        }
        &:nth-of-type(even) {
            background-color: $lightgray;
        }
    }

    &--highlight {
        tr {
            th {
                text-align:right;
                &:last-child {
                    background: $funblue;
                }
                &:not(:first-child) {
                    width: 10%;
                }
                &:first-child {
                    text-align: left;
                }
            }
            td {
                text-align: right;
                padding: 10px 20px;

                &:first-child {
                    text-align: left;
                }

                &:last-child {
                    background: #f0f8fb;
                }
            }
        }
    }

    &--download {
        tr {
            th {
                text-align:center;

                &:last-child {
                    background: $funblue;
                    text-align:center;
                    width: 20%;
                }

                &:first-child {
                    text-align: left;
                }
            }
            td {
                text-align: center;
                padding: 15px 20px;
                vertical-align: middle;

                &:first-child {
                    text-align: left;
                }

                &:last-child {
                    background: rgba(240, 248, 251, 0.7);
                    text-align:center;
                }

                a {
                    > i {
                        font-size: 1.5em;
                        padding-right: 0.5rem;
                        vertical-align: middle;
                        line-height: 2;
                        &::before{
                            color: $green;
                        }

                    }
                    &:hover {
                        color: $funblue;
                        i {
                            &::before{
                                color: $funblue;
                            }

                        }
                    }
                }
            }

            &:nth-of-type(odd) {
                background-color: $lightgray;
            }

            &:nth-of-type(even) {
                background-color: $white;
            }
        }
    }

    &--historical {
        tr {
            th:not(:first-child), td:not(:first-child) {
                text-align: right;
            }

            &.row-highlight {
                td {
                    border-bottom: solid 1px $lightblue;
                    line-height: 2em;
                    color: $green;
                    font-weight: 700;
                    background: $lightgray;
                }
            }
            background-color: $white !important;

            &:hover {
                td {
                    background: $gray;
                }
            }
        }
    }

    &--shareholder {
        tr {
            th {
                text-align:center;
            }
            td {
                padding:10px 20px;

                &:first-child {
                    text-align: left;
                }

                &:nth-child(3), &:nth-child(4) {
                   text-align: right;
                }
            }
        }
    }

    &--calendar {
        tr {
            th {
                padding: 10px 20px;
                text-align:left;
            }
            td {
                padding: 10px 20px 30px;

                &:first-child {
                    color: $lightblue;
                    font-weight: 700;
                }
                &:nth-child(2) {

                    font-weight: 700;
                }
            }
            background-color: $white !important;
            border-bottom: solid 2px $blue;
        }
    }

    &--meeting{
        tr {
            td {
                a {
                    i {
                        font-size: 25px;
                        vertical-align: middle;
                        color: $green;
                    }
                }
                &:last-child {
                    text-align: center;
                }
            }
        }
    }

    &--calculator {
        tr {
            td {
                text-align: center;
            }
        }
    }


    &--heading {
        tr {
            background-color: $white;

            th {
                html[lang="th"] & {
                    font-size: px-to-rem(22);
                    font-weight: 900;
                }
            }

            td {
                background-color: $white;
                html[lang="th"] & {
                    font-size: px-to-rem(22);
                    font-weight: 700;
                    line-height: 1.3;
                }

                @include media-breakpoint-down(xs)
                {
                    padding: 2px;
                }
            }



            &.highlight {
                border-bottom: solid 1px $lightblue;

                td {
                    font-weight: 700;

                    html[lang="th"] & {
                        font-weight: 900;
                    }
                }
            }
        }
    }


    &--column {
        tbody {
            td {
                &:nth-child(1) {
                    min-width: 100px;
                }
            }
        }
    }

}
