.list-group {
    $grandparent: &;

    &--download {

        #{$grandparent} {
            &-item {
                @include set-font-family;
                font-size: px-to-rem(16);
                display: flex;
                border: none;
                background: transparent;
                color: $black;
                padding-left: 0;

                html[lang="th"] & {
                    font-size: 1.375rem;
                    font-weight: 700;
                }

                [class*="icon-"] {
                    margin-right: 1rem;
                }

                &-action {
                    transition: all .5s ease;

                    &:hover, &.active {
                        color: $funblue;
                    }
                }
            }
        }
    }
}
