.card {
    border: none;
    border-radius: 0;

    $grandparent: &;

    #{$grandparent} {
        &__image {
            margin-bottom: 2rem;
        }

        &__title {
            @include set-font-family;
            color: $blue;
            margin-bottom: 1rem;
            line-height: 1.5;
            font-size: px-to-rem(18);
            transition: all .15s ease-in-out;

            html[lang="th"] & {
                line-height: 1.2;
                font-size: px-to-rem(27);
                font-weight: 700;
            }
        }

        &__body {
            color: $black;
            min-height: 120px;
        }

        &__footer {
            border-top: 1px solid $blue;
            padding-top: 1rem;
        }

        &__image-group {
            text-align: center;
            img {
                height: 8rem;
                @include media-breakpoint-up(xl)
                {
                    height: 10rem;
                }
            }
        }
    }

    &#{$grandparent} {
        &--shadow {
            box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.09);
        }
        &--over {
            &-bottom {
                background-color: transparent;
                margin-bottom: -6rem;
            }
            &-top {
                background-color: transparent;
                margin-top: -2rem;
                @include media-breakpoint-down(md) {
                    margin-top: 2rem;
                }
            }
        }
    }

    &:hover {
        .btn {
            color: $funblue;
            &:after {
                background-color: $funblue;
            }
        }
    }
}
