.card {
    $grandparent: &;

    &#{$grandparent} {
        &--download {
            border-width: 4.7px;
            border-image: linear-gradient(to right, $blue, $green);
            border-style: solid;
            border-image-width: 0 0 1 0;
            border-image-slice: 0 0 1 0;
            border-left: none;
            border-right: none;
            box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.07);
            margin-bottom: 1rem;
            padding: 1rem 2rem;

            box-shadow: none;
            background-color: $lightgray;
            z-index: 1;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                z-index: -1;
                @include set-image(137px 50%, 60%);
                background-image: url('/themes/default/assets/static/images/watermark.svg');
            }

            .card__title {
                color: $lightblue;
                font-weight: 500;
                transition: all .15s ease-in-out;
                height: 55px;
            }

            &:hover {
                .card__title {
                    color: $funblue;
                }

                .btn:after {
                    background-color: transparent;
                }
            }
        }
    }
}
