.card {
    $grandparent: &;

    &#{$grandparent} {
        &--news {
            border: 1px solid $gray;

            #{$grandparent} {
                &__image {
                    height: 200px;
                    overflow: hidden;
                    text-align: center;

                    img {
                        transition: all .5s ease;
                        height: 100%;
                    }
                }

                &__body {
                    padding: 0 1rem 1rem 1rem;
                }

                &__title {
                    height: 78px;
                    html[land="th"] &{
                        height: 100px;
                    }
                }
            }

            &:hover {
                #{$grandparent} {
                    &__title {
                        color: $funblue;
                    }

                    &__image {
                        img {
                            transform: scale3d(1.1, 1.1, 1.1);
                        }
                    }
                }
            }
        }
    }
}
