.card {
    &--overlap {
        margin-bottom: 2rem;
        margin-top: 1.5rem;
        padding: 0 1.5rem 1rem;
        box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.09);
        
        .card {
            &__body {
                min-height: 200px;
            }

            &__category {
                @include set-font-family;
                font-size: 12px;
                font-weight: 500;
            }

            &__image {
                margin-top: -1.5rem;
                margin-bottom: 1rem;
                margin-left: auto;
                margin-right: auto;
            }

            &__title {
                @include set-font-family;
                color: $blue;
                font-size: px-to-rem(18);
            }
            
            &__footer {
                border-top: 1px solid $blue;
                padding-top: 1rem;
                width: 120px;
            }
        } 
    }
}