.card {
    $grandparent: &;

    &#{$grandparent} {
        &--people {
            height: 100%;
            margin-top: 0;
            transition: color 1s ease;

            #{$grandparent} {
                &__image {
                    $man-height: 180px;
                    $bg-height: 140px;

                    background: linear-gradient(135deg, $blue, $green);
                    height: $bg-height;
                    text-align: center;
                    margin-left: 0;
                    margin-right: 0;
                    overflow: initial;

                    .img-fluid {
                        height: $man-height;
                        max-width: 200px;
                        width: auto;
                        margin-top: $bg-height - $man-height;
                    }
                }

                &__title {
                    color: $black;
                    font-weight: 500;
                    font-size: px-to-rem(14);
                    margin-bottom: 0;
                    transition: color 1s ease;
                }
            }

            .list-bullet {
                margin-bottom: 0;
            }

            &:hover {
                color: $funblue;

                #{$grandparent} {
                    &__title {
                        color: $funblue;
                    }

                    &__image {
                        img {
                            transform: none;
                        }
                    }
                }
            }
        }
    }
}
