.card {
    &--publication {
        border: solid 1px $gray;

        >div {
            &:hover {
                a {
                    color: $green;
                }
            }

            >div {
                padding: 20px;

                &:first-child {
                    border-right: solid 1px $gray;
                    padding: 0;
                    @include media-breakpoint-down(sm) {
                        border-right: none;
                    }
                }
            }
        }

        .card {
            &-cover {
                height: 245px;
                background-size: cover;
                background-position: center right;

                @include media-breakpoint-down(sm) {
                    min-height: 350px;
                    border-bottom: solid 1px $gray;
                }
            }
            &-body {
                min-height: 200px;
                &:hover {
                    a {
                        color: $green;
                    }
                }
            }
            &__title {
                @include set-font-family;
                color: $blue;
                font-size: px-to-rem(18);
                margin-bottom: 20px;
                font-weight: 500;
            }
        }

        .btn-secondary {
            color: $green !important;
            display: flex;
            justify-content: space-between;

            .icon-download {
                font-size: 1.5rem;
            }
            .icon-book {
                font-size: 1rem;
            }

            &:hover {
                color: $funblue !important;
            }
        }
        hr {
            border-bottom: 1px solid $blue;
        }
    }
}