.card {
    $grandparent: &;

    &--publication {
        border: solid 1px $gray;

        .col-md-6 {
            // left
            &:first-child {
                padding: 0;
                overflow: hidden;
                border-right: solid 1px $gray;

                @include media-breakpoint-down(sm) {
                    border-right: none;
                }
            }

            // right
            &:last-child {
                align-self: center;
            }
        }

        #{$grandparent} {
            &-cover {
                height: 245px;
                background-size: cover;
                background-position: center right;
                background-repeat: no-repeat;
                transition: all .5s ease;

                @include media-breakpoint-down(sm) {
                    min-height: 300px;
                    border-bottom: solid 1px $gray;
                    background-size: contain;
                    background-position: center;
                }
            }
            &-body {
                min-height: 200px;
                padding: 1.25rem 0.75rem;
                &:hover {
                    a {
                        color: $green;
                    }
                }

                &--small {
                    padding: 0rem .75rem .75rem;

                    .card__title {
                        margin: 10px 0;
                    }

                    hr {
                        margin: .5rem 0 .75rem;
                    }
                }

                @include media-breakpoint-down(sm) {
                    min-height: auto;

                    &--small {
                        padding: .75rem;
                    }
                }
            }
            &__title {
                @include set-font-family;
                color: $blue;
                font-size: px-to-rem(17);
                margin-bottom: 20px;
                font-weight: 500;
            }
        }

        .btn-secondary {
            color: $green !important;
            display: flex;
            justify-content: space-between;

            .icon-download {
                font-size: 1.5rem;
            }
            .icon-book {
                font-size: 1rem;
            }

            &:hover {
                color: $funblue !important;
            }
        }

        hr {
            border-bottom: 1px solid $blue;
        }

        &:hover {
            #{$grandparent} {
                &-cover {
                    transform: scale3d(1.1, 1.1, 1.1);
                }
            }
        }
    }
}
