.card {
    $grandparent: &;

    &#{$grandparent} { 
        &--vdo { 
            @extend .card--news;
            
            #{$grandparent} {
                &__image {
                    position: relative;
                    &:before {
                        content: '\e917';
                        font-size: 1.4rem;
                        color: $white;
                        font-family: 'wp';
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

        }
    }
}