.card {
    &--vertical {       
        padding: 0 1.5rem 1rem;
        
        @include media-breakpoint-only(md) {
            flex-direction: row;
            border-radius: 0;
            padding: 2rem 0;

            .card {
                &__image {
                    margin-bottom: 0;
                }
                &__body {
                    padding: 1rem;
                }
                &__image, &__body {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }
        }        
    }
}