.profile {
    @include set-font-family;
    $grandparent: &;
    $man-height: 300px;
    $bg-height: 200px;
    $man-height-small: 220px;
    $bg-height-small: 150px;
    #{$grandparent} {
        &__image {
            background: linear-gradient(135deg, $blue, $green);
            text-align: center;
            margin-left: 0;
            margin-right: 0;
            height: $bg-height;
            margin-top: $man-height - $bg-height;
            @include media-breakpoint-down(lg) {
                height: $bg-height-small;
                margin-top: $man-height-small - $bg-height-small;
            }
            .img-fluid {
                max-width: 250px;
                width: auto;
                height: $man-height;
                margin-top: $bg-height - $man-height;
                @include media-breakpoint-down(lg) {
                    height: $man-height-small;
                    margin-top: $bg-height-small - $man-height-small;
                }
            }
        }
        &__detail {
            margin-top: $man-height - $bg-height;
            @include media-breakpoint-down(lg) {
                margin-top: $man-height-small - $bg-height-small;
            }
            .list-bullet {
                font-size: px-to-rem(16);
            }
        }
        &__items {
            .list-bullet {
                font-size: px-to-rem(14);
            }
            dl {
                display: flex;
                margin-bottom: 0.3rem;
                @include media-breakpoint-down(sm) {
                    margin-bottom: 1rem;
                    flex-direction: column;
                }
                dt {
                    font-size: px-to-rem(16);
                    font-weight: 700;
                    margin-right: 1rem;
                }
                dd {
                    font-size: px-to-rem(14);
                    margin-bottom: 0;
                }
            }
        }
    }
}