.page {
    $grandparent: &;

    margin-top: 92px;
    min-height: calc(100vh - 92px - 158px - 48px);

    @include media-breakpoint-up(xl)
    {
        margin-top: 83.39px;
        min-height: calc(100vh - 83.39px - 88px - 48px);
    }

    #{$grandparent} {
        &__breadcrumb {
            display: none;
            border-bottom: 1px solid $gray;

            @include media-breakpoint-up(xl)
            {
                display: block;
            }
        }

        &__title {
            padding-top: px-to-rem(63);
        }
    }
}
